.componentproject1-container {
  width: 306px;
  height: 989px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #135787;
}
.componentproject1-text {
  color: var(--dl-color-gray-white);
  font-size: 40px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 800;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.componentproject1-text03 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
}
.componentproject1-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 2px;
  justify-content: flex-start;
}
.componentproject1-navlink {
  top: 24px;
  left: 100px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.componentproject1-navlink1 {
  display: contents;
}
.componentproject1-icon {
  top: 19px;
  left: 45px;
  width: 59px;
  height: 47px;
  position: absolute;
  text-decoration: none;
}
.componentproject1-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.componentproject1-text07 {
  color: var(--dl-color-gray-white);
  font-size: 30px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: underline;
}
.componentproject1-navlink2 {
  color: var(--dl-color-gray-white);
  font-size: 30px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: underline;
}
.componentproject1-text08 {
  color: var(--dl-color-gray-white);
  font-size: 30px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: underline;
}
.componentproject1-text09 {
  color: var(--dl-color-gray-white);
  font-size: 30px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: underline;
}





