<div>
  <link href="./componentproject1.css" rel="stylesheet" />
  <div class="componentproject1-container">
    <span class="componentproject1-text">
      <span>ONE  Lab</span>
      <br />
    </span>
    <span class="componentproject1-text03">
      <span>Embrace the power of</span>
      <br />
      <span>your data</span>
    </span>
    <div class="componentproject1-container1">
      <a href="aboutmebackground.html" class="componentproject1-navlink">
        <span>HOME</span>
      </a>
      <a href="aboutmebackground.html" class="componentproject1-navlink1">
        <svg viewBox="0 0 1024 1024" class="componentproject1-icon">
          <path
            d="M1024 590.444l-512-397.426-512 397.428v-162.038l512-397.426 512 397.428zM896 576v384h-256v-256h-256v256h-256v-384l384-288z"
          ></path>
        </svg>
      </a>
    </div>
    <div class="componentproject1-container2">
      <a href="project-overview.html" class="componentproject1-text07">
        <span>Objective</span>
      </a>
      <a href="project1har.html" class="componentproject1-navlink2">
        <span>What is a HAR File</span>
      </a>
      <a href="project1shu.html" class="componentproject1-text08">
        <span>Selenium HAR Util</span>
      </a>
      <a href="project-progress1.html" class="componentproject1-text09">
        <span>Progress</span>
      </a>
    </div>
  </div>
</div>
